<header class="p-5 flex justify-between items-center fixed w-full shadow-md">
  <div class="flex justify-start items-center gap-5 flex-1">
    <i class="pi pi-bitcoin text-4xl cursor-pointer text-red-700"></i>
    <h1 class="text-lg font-medium">BooksWebSystem</h1>
  </div>
  <div class="flex justify-center items-center gap-14 flex-1 font-extralight">
    <span>Notícias</span>
    <span>Livros</span>
    <span>section</span>
    <span>section</span>
  </div>
  <div class="flex justify-end items-center gap-5 flex-1">
    <span class="font-light">nome sobrenome</span>
    <i class="pi pi-user text-2xl cursor-pointer text-red-700"></i>
  </div>
</header>
